DATABASE_URL="postgresql://postgres.[YOUR-PROJECT-REF]:[YOUR-PASSWORD]@aws-0-us-west-2.pooler.supabase.com:6543/postgres?pgbouncer=true"
DIRECT_URL="postgresql://postgres.[YOUR-PROJECT-REF]:[YOUR-PASSWORD]@aws-0-us-west-2.pooler.supabase.com:5432/postgres"
JWT_SECRET="ff25f6eb-ce6d-4d1c-a976-db981a794e06"
NEXT_PUBLIC_SUPABASE_URL="https://qhuyamirrplslxgrtalh.supabase.co"
